* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(216, 12%, 8%);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 350px;
  border-radius: 20px;
}

.img {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 30px 40px;
  position: relative;
}

.img img {
  position: absolute;
  left: 15px;
  top: 15px;
}

.card-title {
  color: hsl(0, 0%, 100%);
  margin: 15px 40px;
}

.card-body {
  color: hsl(216, 12%, 54%);
  font-size: 15px;
  margin: 15px 40px;
}

.box {
  display: flex;
  gap: 25px;
  color: hsl(216, 12%, 54%);
  margin: 20px 40px;
}

#box1 {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#box1:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

#box2 {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#box2:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

#box3 {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#box3:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

#box4 {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#box4:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

#box5 {
  background-color: hsla(217, 12%, 63%, 0.18);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  padding: 12px;
  cursor: pointer;
}

#box5:hover {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.btn {
  margin: 0 40px;
  width: 80%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

#box1.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#box2.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#box3.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#box4.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

#box5.active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.card2 {
  background-color: hsl(213, 19%, 18%);
  width: 400px;
  height: 350px;
  border-radius: 20px;
  display: none;
}

.img2 img {
  margin: 25px 7rem;
}

.title2 {
  margin: 20px 0;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.para2 {
  color: hsl(216, 12%, 54%);
  font-size: 15.5px;
  margin: 20px 40px;
  text-align: center;
}

.empty {
  width: 250px;
  height: 30px;
  background-color: hsl(213, 6%, 31%);
  margin: 0 5rem;
  border-radius: 50px;
  font-size: 20px;
  color: hsl(25, 97%, 53%);
  font-size: 20px;
  text-align: center;
  padding: 5px;
}
